
{% load static %} 
<html>
<title>My projects</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

{% block body %}
<body class="w3-light-grey">

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; top:0%;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{user.firstName}} {{user.lastName}}</strong></span><br>
      </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href={% url 'login:returnOverview' %} class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>  Overview</a>
    {% if user.role == "teamLeader" %}
       <a href="{% url 'msg:messagesPage' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw"></i>  Messages</a>
    {% endif %}
   

    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  My Project</a>
    
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  {% if user.role == "teamLeader" %}
  <div style="margin-left: 93%; size:10px"><a href={% url 'project:buttonAddProject' %}><img src="https://img.icons8.com/color/70/000000/joyent--v1.png"/>
<a></div>
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> my projects </b></h5>
  </header>
  
 <div class="w3-row-padding w3-margin-bottom">
  
    {% for pro,color in projects %}
      {% if user.userName == pro.teamLeader %}
      <a href="{% url 'userStory:userStoryPage' nameProject=pro.name %}" style="display:inline"> 
        <div class="w3-quarter">
          <div class="w3-container w3-{{color}} w3-padding-16 w3-text-white" >
            <div class="w3-left"><i class="fa fa-eercast w3-xxxlarge"></i></div>
            <div class="w3-right">
            
              <a href="{% url 'project:deleteProject' nameProject=pro.name %}"><div class="fa fa-minus-circle"></div></a>

            </div>
            <div class="w3-clear"></div>
            <h4>{{pro.name}}</h4>
          </div>
        </div>
      </a>
      {% endif %}    
    {% endfor %} 
    
</div> 
{% endif %} 
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>Associated with projects</b></h5>
  </header>
<div class="w3-row-padding w3-margin-bottom" style="padding: 6px;" >
    {% for pro ,color in projects %}
      {% if not user.userName == pro.teamLeader  %}
        <a href="{% url 'userStory:userStoryPage' nameProject=pro.name %}" style="display:inline"> 
        <div class="w3-quarter myPadding" style="padding: 6px;">
          <div class="w3-container w3-{{color}}  w3-padding-16 w3-text-white" >
            <div class="w3-left"><i  class="fa fa-eercast w3-xxxlarge" ></i></div>
            <div class="w3-right">
              <a href="#"></a>
            </div>
            <div class="w3-clear"></div>
            <h4>{{pro.name}}</h4>
          </div>
        </div>
        </a>
      {% endif %}
    {% endfor %}

    
</div>













  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
     
      
    </div>
  </div>
 


  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
</body>
{% endblock body %}
</html>