@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
*{
    font-family: 'Poppins', sans-serif;
    
}
.section {
    padding: 0.7px 0 100px 0;
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.chart {
    position:relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    margin-left: 25px;
    text-align: center;

}

.chart canvas {
    position: absolute;
    left: 0;
    right: 0;
}

.chart .percent {
    color: black;
    line-height: 152px;
    font-size:34px;
    display: inline-block;
}

.circleSection {
    text-align: center;
}

.chart .percent:after {
    content:'%';
}

.titleAbout { 
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    
}