
<!DOCTYPE html>
{% load static %} 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static './testFolder/test.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/jquery-ui.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,500,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

</style>
<!--###############################-menu##################################################- -->



<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{user.firstName}} {{user.lastName}}</strong></span><br>
      </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'login:returnOverview' %}" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>  Overview</a>
    {% if user.role == "teamLeader" %}
        <a href="{% url 'msg:messagesPage' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw"></i>  Messages</a>
    {% endif %}
    <a href="{% url 'project:createPro' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  My Project</a>
    <div class="sortable-accordion">
        <p class="w3-bar-item w3-button w3-padding w3-orange" style="margin-left: 10%;"><i class="fa fa-arrow-right fa-fw"></i>{{project.name}}</p>
        
    
        <div class="inner " >
                <ul class="sortable" style="margin-left: 20%;">
                <li class="w3-bar-item w3-button w3-padding w3-red"><a><i class="fa fa-info-circle fa-fw"></i>info and user story</a></li>  
                <li class="w3-bar-item w3-button w3-padding"><a href="{% url 'sprint:showSprint' %}"><i class="fa fa-rocket  fa-fw"></i>sprint</a></li>   
            </ul> 
        </div>
        </div>
<script>
    $(document).ready(function(){	
        $(function () {
        //  Accordion Panels
        $(".sortable-accordion div").show();
        $('.sortable-accordion div').slideToggle('slow');
        $(".sortable-accordion p").click(function () {
            $(this).next(".inner").slideToggle().siblings(".inner:visible").slideUp();
            $(this).toggleClass("current");
            $(this).siblings("h3").removeClass("current");
        });
        });
    });
</script>
   

    
   
  </div>
</nav>

   
<!--###############################-menu##################################################- -->


<html lang="en">
    <head> 
        <title>{{project.name}}</title>
    </head>
    <body class="w3-light-grey">
        <section class="kanban__main">
            <span>
                <div class="kanban__main-wrapper" 
                style="grid-auto-columns:40rem;margin:0; padding: 70px 40px 70px;">
    <!-- ============================= Part Information ===================== -->
                    <div class="backlog-color card-wrapper" style="width: 276px;margin-left: 300px;">
                        <div class="card-wrapper__header">
                            <div class="backlog-name">Information</div>
                            
                        </div>
                        <div class="cards"  style="color: #000000">
							<div class="card-wrapper__footer" style="color: #000000"> 
                                <div class="add-task-ico"><i class="material-icons">school</i></div>
                                <div class="add-task">Team Leader: {{project.teamLeader}}</div>   
                            </div>
							<div class="card-wrapper__footer" style="color: #000000"> 
                                <div class="add-task-ico"><i class="material-icons">bookmarks </i></div>
                                <div class="add-task">name: {{project.name}}</div>   
                            </div>
                            <div class="card-wrapper__footer" style="color: #000000"> 
                                <div class="add-task-ico"><i class="material-icons">calendar_today </i></div>
                                <div class="add-task"> Date: {{project.date}}</div>   
                            </div>
							<div class="card-wrapper__footer" style="color: #000000"> 
                                <div class="add-task-ico"><i class="material-icons">groups</i></div>
                                <div class="add-task"> Users:</div>   
                            </div>


                            {%for userP in userOfProject%}
                                    <div class="card-container-color card-color-high">
                                        <div class="card__header-priority" style="display:inline-block">
                                        {% if user.userName == project.teamLeader %}
                                            {% if userP.pk_user ==  user.userName %}
                                                <div style=display:inline >{{userP.pk_user}}</div> 
                                            {% else %}
                                                <a style="display:inline;margin-left: -16px;" href={% url "userStory:delete_user" id=userP.id %}><div style=display:inline ><i class="material-icons">clear</i></div> {{userP.pk_user}}</a>

                                            {% endif %}
                                        {% else %}
                                            <div style=display:inline >{{userP.pk_user}}</div>
                                        {% endif %}
                                        </div>

                                    </div>
                            {%endfor%}


                        </div>
                    </div>
                    
    <!-- ============================= Part In userStory ===================== -->
     
  
    

    
	<div class="in-progress-color card-wrapper"style="width: 550px; margin-left: 3px;">
		<div class="card-wrapper__header">
			<div class="backlog-name">User Stories</div>
		</div>
		<div class="cards" >
		  {% for user_story in stories  %}
			  <div class="card" draggable="true" style="width: 400px;">
				<div class="card__header">
					<div class="card-container-color card-color-med">
						<div class="card__header-priority">Priority: {{user_story.priority}}</div>
					</div>
					<a href={% url "userStory:delete_story" id=user_story.id %}><div class="card__header-clear"><i class="material-icons">clear</i></div></a>
				</div>
                {% if user_story.status == "Not Done" %}
				    <div class="card__text">{{user_story.content}} </div>
                {% else %}
                    <s><div class="card__text">{{user_story.content}} </div></s>
                {% endif %}
				<div class="card__menu">
					<div class="card__menu-left">
						<div class="comments-wrapper">
							<div class="comments-ico"><i class="material-icons">person</i></div>
							<div class="comments-num">{{user_story.assign}}</div>
						</div>
					</div>
					<div class="card__menu-right">
						<a href={% url 'userStory:updateToDone' id=user_story.id %}><div class="add-peoples"><i class="material-icons">check</i></div></a>
						<a href={% url 'userStory:updateUserStory' id=user_story.id %}><div class="add-peoples"><i class="material-icons">edit</i></div></a>
					</div>
				</div>
			</div>
		  
		  {% endfor %}
	 
		<a  href={% url 'userStory:insertStory'%} >
			
            <div class="card-wrapper__footer" style="color: #000000"> 
                <a  href={% url 'userStory:insertStory'%} >
                <div class="add-task" style="color: #000000">Add Task</div></a>
                <div class="add-task-ico"><i class="material-icons">add_circle_outline</i></div>
                <a  href={% url 'userStory:filterMyStory'%} >
                <div class="add-task" style="color: #000000;margin-left:105px">My Stories</div></a>
                <div class="add-task-ico"><i class="material-icons">filter_list</i></div>
                <a  href={% url 'userStory:FilterNotDone'%} >
                <div class="add-task" style="color: #000000;margin-left:15px">Not Done</div></a>
                <div class="add-task-ico"><i class="material-icons">filter_list</i></div>
                <a  href={% url 'userStory:allStories'%} >
                <div class="add-task" style="color: #000000;margin-left:15px">All Stories</div></a>
                <div class="add-task-ico"><i class="material-icons">filter_list</i></div>
            </div>
            
		</div>
	</div>
    <!-- ============================= Part current sprint ===================== -->
                    <div class="review-color card-wrapper"style=" margin-left: -20px; width: 450px;">
                        <div class="card-wrapper__header">
                            <div class="backlog-name">Current sprint</div>
                            <div class="backlog-dots"><i class="material-icons">expand_more</i></div>
                        </div>
                        <div class="cards">
                        {% for user_story in sprint.getUserStory %}
                            <div class="card" draggable="true" style="width: 400px;">
                                <div class="card__header">
                                    <div class="card-container-color card-color-med">
                                        <div class="card__header-priority">Priority: {{user_story.priority}}</div>
                                    </div>
                                </div>
                                {% if user_story.status == "Not Done" %}
                                    <div class="card__text">{{user_story.content}} </div>
                                {% else %}
                                    <s><div class="card__text">{{user_story.content}} </div></s>
                                {% endif %}
                                <div class="card__menu">
                                    <div class="card__menu-left">
                                        <div class="comments-wrapper">
                                            <div class="comments-ico"><i class="material-icons">person</i></div>
                                            <div class="comments-num">{{user_story.assign}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    
      
        </section>
    </body>

</html>
